
@{
    ViewBag.Title = "Hextris";
    Layout = "~/Areas/Users/Views/Shared/_UserMasterPage.cshtml";
}

<head>
    <title>Hextris</title>
    
   
    <link rel="icon" type="image/png" href="favicon.ico">
    
    <link rel="stylesheet" href="~/Areas/Users/Style/fa/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Users/Style/style.css">
    
    <script type='text/javascript' src="~/Areas/Users/Script/vendor/js.cookie.js"></script>
    <script type='text/javascript' src="~/Areas/Users/Script/vendor/jsonfn.min.js"></script>
    <script type='text/javascript' src="~/Areas/Users/Script/vendor/keypress.min.js"></script>
    <script type='text/javascript' src="~/Areas/Users/Script/vendor/jquery.js"></script>
    <script type='text/javascript' src="~/Areas/Users/Script/save-state.js"></script>
    <script type='text/javascript' src="~/Areas/Users/Script/view.js"></script>
    <script type='text/javascript' src="~/Areas/Users/Script/wavegen.js"></script>
    <script type='text/javascript' src="~/Areas/Users/Script/math.js"></script>
    <script type='text/javascript' src="~/Areas/Users/Script/Block.js"></script>
    <script type='text/javascript' src="~/Areas/Users/Script/Hex.js"></script>
    <script type='text/javascript' src="~/Areas/Users/Script/Text.js"></script>
    <script type='text/javascript' src="~/Areas/Users/Script/comboTimer.js"></script>
    <script type='text/javascript' src="~/Areas/Users/Script/checking.js"></script>
    <script type='text/javascript' src='~/Areas/Users/Script/update.js'></script>
    <script type='text/javascript' src='~/Areas/Users/Script/render.js'></script>
    <script type='text/javascript' src="~/Areas/Users/Script/input.js"></script>
    <script type='text/javascript' src="~/Areas/Users/Script/main.js"></script>
    <script type='text/javascript' src="~/Areas/Users/Script/initialization.js"></script>    
    <script src="~/Areas/Users/Script/vendor/sweet-alert.min.js"></script>
    
</head>

    <canvas id="canvas"></canvas>
    <div id="overlay" class="faded overlay"></div>

    <div id='startBtn'></div>
    <div id="helpScreen" class=''>
        <div id='inst_main_body'></div>
    </div>

    <img id="openSideBar" class='helpText' src="../../Areas/Users/Style/images/btn_help.svg" />
    <div class="faded overlay"></div>

    <img id="pauseBtn" src="~/Areas/Users/Style/images/btn_pause.svg" />
    <img id='restartBtn' src="~/Areas/Users/Style/images/btn_restart.svg" />

    <div id='HIGHSCORE'>HIGH SCORE</div>
    <script>
        (function (i, s, o, g, r, a, m) { i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga'); ga('create', 'UA-51272720-2', 'auto'); ga('send', 'pageview');
    </script>
    <div id='highScoreInGameText'>
        <div id='highScoreInGameTextHeader'>HIGH SCORE</div><div id='currentHighScore'>10292</div>
    </div>

    <div id="gameoverscreen">
        <div id='container'>
            <div id='gameOverBox' class='GOTitle'>GAME OVER</div>
            <div id='cScore'>1843</div>
            <div id='highScoresTitle' class='GOTitle'>HIGH SCORES</div>
            <div class='score'><span class='scoreNum'>1.</span> <div id="1place" style="display:inline;">0</div></div>
            <div class='score'><span class='scoreNum'>2.</span> <div id="2place" style="display:inline;">0</div></div>
            <div class='score'><span class='scoreNum'>3.</span> <div id="3place" style="display:inline;">0</div></div>
        </div>
        <div id='bottomContainer'>
            <img id='restart' src='~/Areas/Users/Style/images/btn_restart.svg' height='57px'>
            <div id='socialShare'>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <g id="Game-over-" sketch:type="MSArtboardGroup" transform="translate(-95.000000, -565.000000)">
                        <g id="Share-button" sketch:type="MSLayerGroup" transform="translate(95.000000, 565.000000)">
                            <polygon id="Score-hex-2" fill="#3498DB" sketch:type="MSShapeGroup" transform="translate(127.661316, 32.500000) rotate(-90.000000) translate(-127.661316, -32.500000) " points="127.661316 -94.814636 160.137269 -76.064636 160.137269 141.064636 127.661317 159.814636 95.185364 141.064636 95.1853635 -76.064636 "></polygon>
                        </g>
                    </g>
                </g>                
            </div>
            <div id='buttonCont'>                
            </div>
        </div>
    </div>

    <script type="text/javascript" src='~/Areas/Users/Script/vendor/rrssb.min.js'></script>
