
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
}


.BodyStyle
{
    border-style:solid;
    border-width:medium;
    border-color:lightgray;
    padding:15px 30px 15px 30px !important;
    height:100%;
   
}

h1, h2, h3, h4, h5
{
    margin:0px 0px 0px 0px !important;
}

.heading
{
    padding:0px 0px 0px 0px !important;
}

.headingFont
{
    font-family:Tahoma, Geneva, Verdana, sans-serif;
    font-size:28px;
    font-style:normal;
    font-weight:500;
}

.bordsBody
{
    margin-top:20px;
}

.bords
{
    padding:30px 30px 30px 30px;
    height:180px;
    width:70%;
    margin:30px 15% 30px 15%;
    border-radius:10%;    
    background-color:lightgray;
    color:crimson;
    font-size:18px;
    font-weight:600;    
    align-content:center;
}